extends ./wrapper.jade

block content
  body(onload='preselectCourses("#{userCourses}", "#{school}")')
    h2 Course Selection
    script(src='/static/js/dynamicJSON.js')
    br
    p
      | Select a Marist College major that you are interested in evaluating.
      br
      if !courses
        - var courses = ["Test"];
      form(action='/admission/transfer/credits/app/courseEvaluation',method='POST',onload='preselectCourses("#{courses}")')
        // - var runPreselect = preselectCourses("#{courses}","#{school}")
        select(id='major',name='major')
          each major in majors
            option= major
        br
        // if courses
         // p
         // | These courses have been previously selected and are currently saved:
         // each course in courses
          // p= course
        // br
        | Select courses that you have previously taken. To add another course, use the + button. To remove a course, use the X button.
        div(id='selectors')
          select(id='dept0',class='deptSelector',onchange='getCourseNumbers("#{school}",0,false,"")',name='course0')
            each department in depts
              option= department
          select(id='courseSelector0',class='courseSelector',onchange='getCourseTitle("#{school}",0)')
            each course in initialCourses
              option= course
          br
        button(value='+',type='button',onclick='addNewLine("#{school}",false,"","")') &#43;
        br
        if user
          input(type='text',id='toBeDeleted',style='display:none;',name='deletes',value='')
        button#submit(type='submit') Submit Courses
        br
        | Don't see a course? Submit a request 
        a(href='/admission/transfer/credits/app/requestCourse') here
