extends ./wrapper.jade

block content
    h2 Edit Course
    p
    form(name = 'editCourse', action='/admission/transfer/credits/app/editSelectedCourse',method='POST')
      table(style='width:100%', text-align='center', border='1')
        tr
          th Edit
          th School
          th Department
          th Course Name
          th Course Number
          th Credits
          th Description
          th Active
        each course in courses
          tr
            td
              input(type='radio', name='cid', value=value=course.sid+'|'+course.did+'|\''+course.coursenumber+'\'')
            td= course.schoolname
            td= course.departmentname
            td= course.coursename
            td= course.coursenumber
            td= course.credits
            td= course.description
            td= course.isactive
      input(type='submit' value='Submit')
