extends ./wrapper.jade

block content
  h2 Schools
  p
    table(style='width:100%', text-align='center', border='1')
      tr
        th School
        th Country
        th Address1
        th Address2
        th City
        th State
        th Zip
      each school in schools
        tr
          td= school.schoolname
          td= school.country
          td= school.address1
          td= school.address2
          td= school.city
          td= school.state
          td= school.zip
  
